
@import url(./fonts.css);
@import url(./header.css);
@import url(./summer-with-lays.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-site {
  max-width: 1400px;
  display: flex;
  flex-flow: row nowrap;
  background:#ffdf01;
}

.main-section {
  flex: 89.28%;
  animation-duration: 1s;
  animation-name: moveBlock;
}

@keyframes moveBlock {
  from {
    transform: translateX(400px);
    opacity: 0;
  }

  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

