@font-face {
  font-family: "GothamPro Bold";
  src: url("../assets/fonts/GothamPro-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
  
@font-face {
  font-family: "GothamPro Light";
  src: url("../assets/fonts/GothamPro-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
  
@font-face {
  font-family: "GothamPro Medium";
  src: url("../assets/fonts/GothamPro-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
  
@font-face {
  font-family: "GothamPro";
  src: url("../assets/fonts/GothamPro.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
  
@font-face {
  font-family: "GothamProBlack";
  src: url("../assets/fonts/GothamProBlack.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}